# Executables
*.exe

# Object Files
*.obj

# Linker Files
*.ilk

# Libraries
*.lib

# Debug Files
*.pdb

# GitIgnore File
.gitignore

# VSCode Config File
# *.json

# Text Files
Assignment_READ.txt
Assignment_WRITE.txt